/* Pagination Header Text */
#title
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

/* Pagination Description Text */
#description
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

/* Table */
table 
{
    border-collapse: collapse;
    width: 90% !important;
    margin: auto;
}

th 
{
    background-color: #ffffff;
}

tr, td 
{
    border: 1px solid #000000;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

/* Pagination Button Container */
.pagination-container 
{
    margin-top: 10px;
}

.pagination
{
    column-gap: 2px;
}

/* Pagination Buttons */
.pagination button 
{
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid #000000;
    background-color: #4242c9;
    color: #ffffff;
}

.pagination button:hover {
    background-color: #000000;
    color: #ffffff;
}

@media screen and (max-width:576px)
{
    .pagination 
    {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        row-gap: 2px;
    }
}
